In [30]:
import folium
import pandas as pd
import numpy as np
import geopandas as gpd
import ast
from IPython.display import IFrame
from branca.colormap import linear
from folium import FeatureGroup

In [84]:
all_data = pd.read_csv("../data/all_data.csv")

In [85]:
all_data['DATE'] = pd.to_datetime(all_data['DATE'])

In [86]:
cur_data = all_data[all_data['DATE']==all_data.DATE.max()]

In [87]:
cur_data['CONFIRMED_nrm'] = cur_data.CONFIRMED.apply(lambda x : 
                                                     (x - cur_data.CONFIRMED.min())/(cur_data.CONFIRMED.max()-cur_data.CONFIRMED.min()))

C:\Users\hisham.sajid\AppData\Local\Continuum\anaconda3\envs\py36env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
cur_data = cur_data[cur_data.PROVINCE_STATE.isna()==True]

In [94]:
map_ = folium.Map(location=[24.859089, 67.035289], tiles='openstreetmap', zoom_start=2)

marker_group_confirmed = FeatureGroup(name='confirmed_cases')

for ind,row in cur_data.iterrows():
    folium.CircleMarker(
        radius=row.CONFIRMED_nrm*15,
        location=[row.LATITUDE, row.LONGITUDE],
        popup=row.COUNTRY_REGION+ "\n CONFIRMED: "+str(row.CONFIRMED),
        color='crimson',
        fill=True,
    ).add_to(marker_group_confirmed)


marker_group_confirmed.add_to(map_)

map_.save('../viz/maps/test.html')
map_.save('../index.html')

## testing with shape files

In [69]:
cur_data = cur_data[cur_data.PROVINCE_STATE.isna()==True]

In [41]:
countries_shp = gpd.read_file('../data/shape_files/ne_50m_admin_0_countries/ne_50m_admin_0_countries.shp')

In [44]:
sov_shp = countries_shp[['SOVEREIGNT','geometry']]

In [73]:
for ind,row in cur_data.iterrows():
    print(row.COUNTRY_REGION)

Thailand
Japan
Singapore
Nepal
Malaysia
Cambodia
Sri Lanka
Germany
Finland
United Arab Emirates
Philippines
India
Italy
Sweden
Spain
Belgium
Egypt
Lebanon
Iraq
Oman
Afghanistan
Bahrain
Kuwait
Algeria
Croatia
Switzerland
Austria
Israel
Pakistan
Brazil
Georgia
Greece
North Macedonia
Norway
Romania
Estonia
San Marino
Belarus
Iceland
Lithuania
Mexico
New Zealand
Nigeria
Ireland
Luxembourg
Monaco
Qatar
Ecuador
Azerbaijan
Armenia
Dominican Republic
Indonesia
Portugal
Andorra
Latvia
Morocco
Saudi Arabia
Senegal
Argentina
Chile
Jordan
Ukraine
Hungary
Liechtenstein
Poland
Tunisia
Bosnia and Herzegovina
Slovenia
South Africa
Bhutan
Cameroon
Colombia
Costa Rica
Peru
Serbia
Slovakia
Togo
Malta
Martinique
Bulgaria
Maldives
Bangladesh
Paraguay
Albania
Cyprus
Brunei
Burkina Faso
Holy See
Mongolia
Panama
Iran
Korea, South
Czechia
Taiwan*
Vietnam
Russia
Moldova
Bolivia
Honduras
Congo (Kinshasa)
Cote d'Ivoire
Jamaica
Turkey
Cuba
Guyana
Kazakhstan
Ethiopia
Sudan
Guinea
Kenya
Antigua and Barbuda
Uruguay
Ghana
Namibia
Seychelles
Trinidad and Tobago
Venezuela
Eswatini
Gabon
Guatemala
Mauritania
Rwanda
Saint Lucia
Saint Vincent and the Grenadines
Suriname
Kosovo
Central African Republic
Congo (Brazzaville)
Equatorial Guinea
Uzbekistan
Benin
Liberia
Somalia
Tanzania
Barbados
Montenegro
Kyrgyzstan
Mauritius
Zambia
Djibouti
Gambia, The
Bahamas, The
Chad
El Salvador
Fiji
Nicaragua
Madagascar
Haiti
Angola
Cabo Verde
Niger
Papua New Guinea
Zimbabwe
Cape Verde
East Timor
Eritrea
Uganda
Dominica
Grenada
Mozambique
Syria
Timor-Leste

In [72]:
for ind,row in sov_shp.iterrows():
    print()

Zimbabwe
Zambia
Yemen
Vietnam
Venezuela
Vatican
Vanuatu
Uzbekistan
Uruguay
Federated States of Micronesia
Marshall Islands
United States of America
United States of America
United States of America
United States of America
United States of America
United States of America
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United Arab Emirates
Ukraine
Uganda
Turkmenistan
Turkey
Tunisia
Trinidad and Tobago
Tonga
Togo
East Timor
Thailand
United Republic of Tanzania
Tajikistan
Taiwan
Syria
Switzerland
Sweden
eSwatini
Suriname
South Sudan
Sudan
Sri Lanka
Spain
South Korea
South Africa
Somalia
Somaliland
Solomon Islands
Slovakia
Slovenia
Singapore
Sierra Leone
Seychelles
Republic of Serbia
Senegal
Saudi Arabia
São Tomé and Principe
San Marino
Samoa
Saint Vincent and the Grenadines
Saint Lucia
Saint Kitts and Nevis
Rwanda
Russia
Romania
Qatar
Portugal
Poland
Philippines
Peru
Paraguay
Papua New Guinea
Panama
Palau
Pakistan
Oman
Norway
North Korea
Nigeria
Niger
Nicaragua
New Zealand
New Zealand
New Zealand
Netherlands
Netherlands
Netherlands
Nepal
Nauru
Namibia
Mozambique
Morocco
Western Sahara
Montenegro
Mongolia
Moldova
Monaco
Mexico
Mauritius
Mauritania
Malta
Mali
Maldives
Malaysia
Malawi
Madagascar
Macedonia
Luxembourg
Lithuania
Liechtenstein
Libya
Liberia
Lesotho
Lebanon
Latvia
Laos
Kyrgyzstan
Kuwait
Kosovo
Kiribati
Kenya
Kazakhstan
Jordan
Japan
Jamaica
Italy
Israel
Israel
Ireland
Iraq
Iran
Indonesia
India
Iceland
Hungary
Honduras
Haiti
Guyana
Guinea-Bissau
Guinea
Guatemala
Grenada
Greece
Ghana
Germany
Georgia
Gambia
Gabon
France
France
France
France
France
France
France
France
Finland
Finland
Fiji
Ethiopia
Estonia
Eritrea
Equatorial Guinea
El Salvador
Egypt
Ecuador
Dominican Republic
Dominica
Djibouti
Denmark
Denmark
Denmark
Czechia
Northern Cyprus
Cyprus
Cuba
Croatia
Ivory Coast
Costa Rica
Democratic Republic of the Congo
Republic of the Congo
Comoros
Colombia
China
China
China
Chile
Chad
Central African Republic
Cabo Verde
Canada
Cameroon
Cambodia
Myanmar
Burundi
Burkina Faso
Bulgaria
Brunei
Brazil
Botswana
Bosnia and Herzegovina
Bolivia
Bhutan
Benin
Belize
Belgium
Belarus
Barbados
Bangladesh
Bahrain
The Bahamas
Azerbaijan
Austria
Australia
Australia
Australia
Australia
Australia
Armenia
Argentina
Antigua and Barbuda
Angola
Andorra
Algeria
Albania
Afghanistan
Kashmir
Antarctica
Netherlands

In [70]:
sov_shp.merge(right=cur_data,how='left',left_on='SOVEREIGNT',right_on='COUNTRY_REGION')

,SOVEREIGNT,geometry,PROVINCE_STATE,COUNTRY_REGION,LATITUDE,LONGITUDE,DATE,CONFIRMED,RECOVERED,DEATHS
0,Zimbabwe,"POLYGON ((31.28789 -22.40205, 31.19727 -22.344...",NaN,Zimbabwe,-20.0000,30.0000,2020-03-22,3.0,0.0,0.0
1,Zambia,"POLYGON ((30.39609 -15.64307, 30.25068 -15.643...",NaN,Zambia,-15.4167,28.2833,2020-03-22,3.0,0.0,0.0
2,Yemen,"MULTIPOLYGON (((53.08564 16.64839, 52.58145 16...",NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,Vietnam,"MULTIPOLYGON (((104.06396 10.39082, 104.08301 ...",NaN,Vietnam,16.0000,108.0000,2020-03-22,113.0,17.0,0.0
4,Venezuela,"MULTIPOLYGON (((-60.82119 9.13838, -60.94141 9...",NaN,Venezuela,6.4238,-66.5897,2020-03-22,70.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...
236,Albania,"POLYGON ((19.34238 41.86909, 19.34551 41.91885...",NaN,Albania,41.1533,20.1683,2020-03-22,89.0,2.0,2.0
237,Afghanistan,"POLYGON ((66.52227 37.34849, 66.82773 37.37129...",NaN,Afghanistan,33.0000,65.0000,2020-03-22,40.0,1.0,1.0
238,Kashmir,"POLYGON ((77.04863 35.10991, 77.00449 35.19634...",NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
239,Antarctica,"MULTIPOLYGON (((-45.71777 -60.52090, -45.49971...",NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
240,Netherlands,"POLYGON ((-63.12305 18.06895, -63.01118 18.068...",NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [45]:
cur_data

,PROVINCE_STATE,COUNTRY_REGION,LATITUDE,LONGITUDE,DATE,CONFIRMED,RECOVERED,DEATHS
29220,NaN,Thailand,15.0000,101.0000,2020-03-22,599,44,1
29221,NaN,Japan,36.0000,138.0000,2020-03-22,1086,235,40
29222,NaN,Singapore,1.2833,103.8333,2020-03-22,455,144,2
29223,NaN,Nepal,28.1667,84.2500,2020-03-22,2,1,0
29224,NaN,Malaysia,2.5000,112.5000,2020-03-22,1306,139,10
...,...,...,...,...,...,...,...,...
29702,NaN,Dominica,15.4150,-61.3710,2020-03-22,1,0,0
29703,NaN,Grenada,12.1165,-61.6790,2020-03-22,1,0,0
29704,NaN,Mozambique,-18.6657,35.5296,2020-03-22,1,0,0
29705,NaN,Syria,34.8021,38.9968,2020-03-22,1,0,0
29706,NaN,Timor-Leste,-8.8742,125.7275,2020-03-22,1,0,0