In [2]:
import folium
import pandas as pd
import numpy as np
import ast
from IPython.display import IFrame
from branca.colormap import linear
from folium import FeatureGroup

In [3]:
all_data = pd.read_csv("../data/all_data.csv")

In [6]:
all_data['DATE'] = pd.to_datetime(all_data['DATE'])

,PROVINCE_STATE,COUNTRY_REGION,LATITUDE,LONGITUDE,DATE,CONFIRMED,RECOVERED,DEATHS
0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,0,0
1,NaN,Japan,36.0000,138.0000,2020-01-22,2,0,0
2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0,0
3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0,0
4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0,0
...,...,...,...,...,...,...,...,...
29702,NaN,Dominica,15.4150,-61.3710,2020-03-22,1,0,0
29703,NaN,Grenada,12.1165,-61.6790,2020-03-22,1,0,0
29704,NaN,Mozambique,-18.6657,35.5296,2020-03-22,1,0,0
29705,NaN,Syria,34.8021,38.9968,2020-03-22,1,0,0
29706,NaN,Timor-Leste,-8.8742,125.7275,2020-03-22,1,0,0